body {      
  font-family: 'Noto Sans TC', sans-serif;    
}

.chartblock { 
  position: relative;
  font-size: 1em;
  display: grid;
  grid-template-columns: 95%;
  justify-content: space-evenly;
  row-gap: 10px;
  align-items: center;
  text-align: center;
}

label {
  font-weight: bold;
}

select {
  padding: 2px;
  width: auto; 
  font-size: 1em;
  font-weight: bold;
}

option {
  font-weight: bold;
}

.chart { 
  height: 250px;
}

.chart-container {
  margin-top: 20px;
}

button {
  width: auto;  
  padding: 5pxs; 
  font-size: 1em; 
  margin: 0 auto;  
}

.chartconfigure { 
  position: relative;  
  display: flex;
  justify-content: space-between;    
}

.display {
  margin-left: auto;
}

.dual-display {
  grid-template-columns: 45% 45%;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;  
}

/* CSS for loading spinner */
.loading-spinner {
  display: none; /* 初始隱藏 */
  position: fixed;
  top: 50%;
  left: 50%;
  width: 10vw; /* 寬度設定為視窗寬度的十分之一 */
  height: 10vw; /* 高度與寬度保持一致，確保是正圓 */
  margin-top: -5vw; /* 垂直居中 */
  margin-left: -5vw; /* 水平居中 */
  border: 15px solid #f3f3f3; /* 淺灰色邊框 */
  border-radius: 50%;
  border-top: 10px solid #3498db; /* 藍色邊框，增加粗度 */
  animation: spin 1s linear infinite; /* 旋轉動畫 */
  z-index: 9999; /* 確保位於最上層 */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


