body {      
  font-family: 'Noto Sans TC', sans-serif;    
}

.chartblock { 
  position: relative;
  font-size: 1em;
  display: grid;
  grid-template-columns: 95%;
  justify-content: space-evenly;
  row-gap: 10px;
  align-items: center;
  text-align: center;
}

label {
  font-weight: bold;
}

select {
  padding: 2px;
  width: auto; 
  font-size: 1em;
  font-weight: bold;
}

option {
  font-weight: bold;
}

.chart { 
  height: 250px;
}

.chart-container {
  margin-top: 20px;
}

button {
  width: auto;  
  padding: 5pxs; 
  font-size: 1em; 
  margin: 0 auto;  
}

.chartconfigure { 
  position: relative;  
  display: flex;
  justify-content: space-between;    
}

.display {
  margin-left: auto;
}

.dual-display {
  grid-template-columns: 45% 45%;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;  
}
