/* 在 styles.css 中 */
body {
    font-family: Arial, sans-serif;
  }
  
.container {
    text-align: center;
    margin: 50px;
    font-size: 3em;
  }
  
label {
    font-weight: bold;    
  }
  
select {
    padding: 8px; /* 調整選單的內邊距 */    
    width: 200px; /* 調整選單的寬度 */
}


  