/* 在 styles.css 中 */
body {
    font-family: Arial, sans-serif;
  }
  
.container {
    width: 95%;    
    margin: 50px;
    font-size: 2em; 
    text-align: center;   
  }
  
label {
    font-weight: bold;       
}
  
select {
    padding: 8px; /* 調整選單的內邊距 */    
    width: auto; /* 調整選單的寬度 */
    font-size: 1em;
}


  